/* Animations for the Character and Concepts page */

@keyframes arrowLeftAnimation{
    0%{
        background-image: url(./Sprites/BackGroundImages/ConceptCharacterPage/ArrowLeftt1.png);        
    }
    14%{
        background-image: url(./Sprites/BackGroundImages/ConceptCharacterPage/ArrowLeftt2.png);
    }
    28%{
        background-image: url(./Sprites/BackGroundImages/ConceptCharacterPage/ArrowLeftt3.png);
    }
    42%{
        background-image: url(./Sprites/BackGroundImages/ConceptCharacterPage/ArrowLeftt4.png);
    }
    56%{
        background-image: url(./Sprites/BackGroundImages/ConceptCharacterPage/ArrowLeftt5.png);
    }
    70%{
        background-image: url(./Sprites/BackGroundImages/ConceptCharacterPage/ArrowLeftt6.png);
    }
    84%{
        background-image: url(./Sprites/BackGroundImages/ConceptCharacterPage/ArrowLeftt7.png);
    }
}

@keyframes arrowRightAnimation{
    0%{
        background-image: url(./Sprites/BackGroundImages/ConceptCharacterPage/ArrowRight1.png);        
    }
    14%{
        background-image: url(./Sprites/BackGroundImages/ConceptCharacterPage/ArrowRight2.png);
    }
    28%{
        background-image: url(./Sprites/BackGroundImages/ConceptCharacterPage/ArrowRight3.png);
    }
    42%{
        background-image: url(./Sprites/BackGroundImages/ConceptCharacterPage/ArrowRight4.png);
    }
    56%{
        background-image: url(./Sprites/BackGroundImages/ConceptCharacterPage/ArrowRight5.png);
    }
    70%{
        background-image: url(./Sprites/BackGroundImages/ConceptCharacterPage/ArrowRight6.png);
    }
    84%{
        background-image: url(./Sprites/BackGroundImages/ConceptCharacterPage/ArrowRight7.png);
    }
}

@keyframes backgroundAnimation {
    0%{
        rotate: 90deg;
    }
    100%{
        rotate: 360deg;
    }
}

/* Fonte a ser usada nos textos  */
@font-face {
    font-family: pixelFont;
    src: url(/font-family/Mrs_Kichinto_6px.ttf);
}

.conceptPageTitle{
    position: absolute;
    top: 15%;
    left: 42%;
}
.characterPageTitle{
    position: absolute;
    top: 15%;
    left: 42%;
}

.NavLinkDecoration{
text-decoration: none;
}

.backButtonCharactersAndConcepts{
    width: max-content;
    font-size: 50px;
    font-family: pixelFont;
    color: rgb(216, 216, 42);
    text-shadow: 0px 2px rgb(200, 164, 63), 0px 4px rgb(127, 103, 37);
    position: relative;
    top: 5%;
    left: 2%;
    z-index: 2;
    transition: all ease 0.5s;
    cursor: url(./Sprites/Mouse/v1mousePointer.png), pointer;
}

.backButtonCharactersAndConcepts:hover{
    color: rgb(223, 111, 111);
    text-shadow: 0px 0px rgb(216, 184, 94), 0px 2px rgb(147, 127, 73);
}

.handsImage{
    width: 100%;
    height: 93.2%;
    position: absolute;
    top: 0%;
    left: 0%;
}

.LightFrame{
    width: 40%;
    height: 75.1%;
    position: absolute;
    top: 8%;
    left: 30%;
    z-index: 2;
}
.pageImage{
    border: 2px solid red;
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 0%;
}
/* Place where will be the background and looping animation of the brackground */
.background{
    background-image: url(/src/Components/Sprites/BackGroundImages/starsbackgroundmoving.png);
    /* border: 2px red solid; */
    width: 100%;
    height: 200%;
    rotate: 0deg;
    position: absolute;
    top: -50%;
    left: 0%;
    animation: backgroundAnimation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: all ease-in 3s;
}

.picturesContainer{
    width: 40%;
    height: 75%;
    position: absolute;
    top: 13%;
    left: 30.1%;
    z-index: 3;
    box-shadow: 9px 9px rgba(235, 198, 31, 0.759), -9px -9px rgba(235, 198, 31, 0.759), 5px 5px rgba(250, 223, 102, 0.759), -5px -5px rgba(250, 223, 102, 0.759);
}
