/* CharacterAndConcepts overlay Section*/
@keyframes CharacterAndConceptsOverlayAnimation{
    0%{
        background-image: url(./Sprites/WebsiteTransitionAnimation/v2/v2reverse/websiteTransition1.png);
        top: 1%;
        background-size: cover;
    }
    6.6%{
        background-image: url(./Sprites/WebsiteTransitionAnimation/v2/v2reverse/websiteTransition2.png);
        background-size: cover;
    }
    13.2%{
        background-image: url(./Sprites/WebsiteTransitionAnimation/v2/v2reverse/websiteTransition3.png);
        background-size: cover;
    }
    19.8%{
        background-image: url(./Sprites/WebsiteTransitionAnimation/v2/v2reverse/websiteTransition4.png);
        background-size: cover;
    }
    26.4%{
        background-image: url(./Sprites/WebsiteTransitionAnimation/v2/v2reverse/websiteTransition5.png);
        background-size: cover;
    }
    33%{
        background-image: url(./Sprites/WebsiteTransitionAnimation/v2/v2reverse/websiteTransition6.png);
        background-size: cover;
    }
    39.6%{
        background-image: url(./Sprites/WebsiteTransitionAnimation/v2/v2reverse/websiteTransition7.png);
        background-size: cover;
    }
    46.2%{
        background-image: url(./Sprites/WebsiteTransitionAnimation/v2/v2reverse/websiteTransition8.png);
        background-size: cover;
    }
    52.8%{
        background-image: url(./Sprites/WebsiteTransitionAnimation/v2/v2reverse/websiteTransition9.png);
        background-size: cover;
    }
    59.4%{
        background-image: url(./Sprites/WebsiteTransitionAnimation/v2/v2reverse/websiteTransition10.png);
        background-size: cover;
    }
    92.4%{
        background-image: url(./Sprites/WebsiteTransitionAnimation/v2/v2reverse/websiteTransition10.png);
        background-size: cover;
        top: 1%;
    }
    99%{
        background-image: url(./Sprites/WebsiteTransitionAnimation/v2/v2reverse/websiteTransition10.png);
        top: 100%;
    }

}

.CharacterAndConceptsOverlay{
    /* background-image: url(./Sprites/WebsiteTransitionAnimation/websiteTransition2.png); */
    background-repeat: no-repeat;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 3;
    animation:CharacterAndConceptsOverlayAnimation;
    animation-duration: 1s;
}


/* Animations for the Character and Concepts page */

@keyframes arrowLeftAnimation{
    0%{
        background-image: url(./Sprites/BackGroundImages/ConceptCharacterPage/ArrowLeftt1.png);        
    }
    14%{
        background-image: url(./Sprites/BackGroundImages/ConceptCharacterPage/ArrowLeftt2.png);
    }
    28%{
        background-image: url(./Sprites/BackGroundImages/ConceptCharacterPage/ArrowLeftt3.png);
    }
    42%{
        background-image: url(./Sprites/BackGroundImages/ConceptCharacterPage/ArrowLeftt4.png);
    }
    56%{
        background-image: url(./Sprites/BackGroundImages/ConceptCharacterPage/ArrowLeftt5.png);
    }
    70%{
        background-image: url(./Sprites/BackGroundImages/ConceptCharacterPage/ArrowLeftt6.png);
    }
    84%{
        background-image: url(./Sprites/BackGroundImages/ConceptCharacterPage/ArrowLeftt7.png);
    }
}

@keyframes arrowRightAnimation{
    0%{
        background-image: url(./Sprites/BackGroundImages/ConceptCharacterPage/ArrowRight1.png);        
    }
    14%{
        background-image: url(./Sprites/BackGroundImages/ConceptCharacterPage/ArrowRight2.png);
    }
    28%{
        background-image: url(./Sprites/BackGroundImages/ConceptCharacterPage/ArrowRight3.png);
    }
    42%{
        background-image: url(./Sprites/BackGroundImages/ConceptCharacterPage/ArrowRight4.png);
    }
    56%{
        background-image: url(./Sprites/BackGroundImages/ConceptCharacterPage/ArrowRight5.png);
    }
    70%{
        background-image: url(./Sprites/BackGroundImages/ConceptCharacterPage/ArrowRight6.png);
    }
    84%{
        background-image: url(./Sprites/BackGroundImages/ConceptCharacterPage/ArrowRight7.png);
    }
}

@keyframes CharacterAndConceptsbackgroundAnimation {
    0%{
        rotate: 90deg;
    }
    100%{
        rotate: 360deg;
    }
}

/* Fonte a ser usada nos textos  */
@font-face {
    font-family: pixelFont;
    src: url(/font-family/Mrs_Kichinto_6px.ttf);
}

.NavLinkDecoration{
text-decoration: none;
}

.backButtonCharactersAndConcepts{
    width: max-content;
    font-size: 50px;
    font-family: pixelFont;
    color: rgb(216, 216, 42);
    text-shadow: 0px 2px rgb(200, 164, 63), 0px 4px rgb(127, 103, 37);
    position: relative;
    top: 5%;
    left: 2%;
    z-index: 2;
    transition: all ease 0.5s;
    cursor: url(./Sprites/Mouse/v1mousePointer.png), pointer;
}

.backButtonCharactersAndConcepts:hover{
    color: rgb(223, 111, 111);
    text-shadow: 0px 0px rgb(216, 184, 94), 0px 2px rgb(147, 127, 73);
}

.LightFrame{
    width: 40%;
    height: 75.1%;
    position: absolute;
    top: 8%;
    left: 30%;
    z-index: 2;
}
.pageImage{
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 0%;
}
/* Place where will be the background and looping animation of the brackground */
.CharacterAndConceptsbackground{
    background-image: url(/src/Components/Sprites/BackGroundImages/starsbackgroundmoving.png);
    /* border: 2px red solid; */
    width: 100%;
    height: 200%;
    rotate: 0deg;
    position: absolute;
    top: -50%;
    left: 0%;
    animation: CharacterAndConceptsbackgroundAnimation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: all ease-in 3s;
}

.picturesContainer{
    width: 40%;
    height: 75%;
    position: absolute;
    top: 13%;
    left: 30.1%;
    z-index: 3;
    box-shadow: 4px 4px rgba(235, 198, 31, 0.759), -4px -4px rgba(235, 198, 31, 0.759), 2px 2px rgba(250, 223, 102, 0.759), -2px -2px rgba(250, 223, 102, 0.759);
}


@media only screen and (max-width: 700px) {
    .CharacterAndConceptsbackground{
        animation: none;
    }

    .pageImage{
        width: 130%;
        height: 60%;
        position: absolute;
        top: 20%;
        left: -15%;
    }
    .picturesContainer{
        width: 48%;
        height: 75%;
        position: absolute;
        top: 12.8%;
        left: 26%;
        z-index: 3;
        box-shadow: none;
    }
}

@media only screen and (max-width: 500px) {
    .pageImage{
        width: 150%;
        height: 50%;
        position: absolute;
        top: 25%;
        left: -25%;
    }
    .picturesContainer{
        width: 59.9%;
        height: 43%;
        position: absolute;
        top: 28.7%;
        left: 20%;
        z-index: 3;
        box-shadow: none;
    }
}