.main-cursor{
    width: 60px;
    height: 60px;
    background-image: url(./Sprites/Mouse/v1mousedefault.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 50%;
    position: absolute;
    z-index: 1;
}

.secondary-cursor{
    width: 80px;
    height: 80px;
    background-color: rgba(14, 163, 213, 0);
    border: 1px yellow solid;
    border-radius: 60px;
    position: absolute;
    z-index: 1;
}
