.boxHeight {
    height: 100%;
    position: relative;    
    z-index: 3;
}

.arrowRight{
    background-image: url(/src/Components/Sprites/BackGroundImages/ConceptCharacterPage/ArrowRightV2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 14vw;
    height: 12vh;
    position: absolute;
    top: 32vh;
    left: 50.5vw;
    z-index: 2;
    cursor: pointer;
}

.arrowLeft{
    /* border: 2px red solid; */
    background-image: url(/src/Components/Sprites/BackGroundImages/ConceptCharacterPage/ArrowLeftV2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 14vw;
    height: 12vh;
    position: absolute;
    top: 32vh;
    left: -25vw;
    z-index: 2;
    cursor: pointer;
}