@keyframes arrowAnimation{
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 70%;
    }
}

.boxHeight {
    height: 100%;
    position: relative;    
    z-index: 3;
}

.arrowRight{
    background-image: url(/src/Components/Sprites/BackGroundImages/ConceptCharacterPage/ArrowRightV2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 14vw;
    height: 12vh;
    position: absolute;
    top: 32vh;
    left: 50.5vw;
    z-index: 2;
    cursor: url(./Sprites/Mouse/v1mousePointer.png), pointer;
}

.arrowRight:hover{
    animation: arrowAnimation;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
}

.arrowLeft{
    /* border: 2px red solid; */
    background-image: url(/src/Components/Sprites/BackGroundImages/ConceptCharacterPage/ArrowLeftV2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 14vw;
    height: 12vh;
    position: absolute;
    top: 32vh;
    left: -25vw;
    z-index: 2;
    cursor: url(./Sprites/Mouse/v1mousePointer.png), pointer;
}

.arrowLeft:hover{
    animation: arrowAnimation;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
}

@media only screen and (max-width: 700px) {
    .arrowLeft{
        width: 27vw;
        height: 12vh;
        position: absolute;
        top: 65vh;
        left: -10vw;
        background-size: contain;
    }
    .arrowRight{
        width: 27vw;
        height: 12vh;
        position: absolute;
        top: 65vh;
        left: 29vw;
        background-size: contain;
    }
}

@media only screen and (max-width: 500px) {
    .arrowLeft{
        width: 32vw;
        height: 12vh;
        position: absolute;
        top: 48vh;
        left: -5vw;
        background-size: contain;
    }
    .arrowRight{
        width: 32vw;
        height: 12vh;
        position: absolute;
        top: 48vh;
        left: 32vw;
        background-size: contain;
    }
}