/* Fonte a ser usada nos textos  */
@font-face {
    font-family: pixelFont;
    src: url(/font-family/Mrs_Kichinto_6px.ttf);
}

/* Place where will be the background and looping animation of the brackground */
.background{ 
    width: 2000px;
    height: 2000px;
    animation: backgroundAnimation;
    animation-iteration-count: infinite;
    animation-duration: 60s;
    animation-direction: alternate;
    transition: all ease 40s;
    background-image: url(/src/Components/Sprites/BackGroundImages/starsbackgroundmoving.png);
    background-repeat: repeat;
    position: absolute;
    top: -50%;
    left: -20%;
}
/* Image with the red character.The big eye shooting light*/
.menuImage{
    /* border: 2px red solid; */
    width: 92%;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 4%;
    z-index: 0;
}

/* Place where the menu is positioned */
#navegationBar{
    /* border: 2px black solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

/* Space between words */
li{
    list-style-type: none;
    margin-top: 60px;
}

/* Removing the underline from the links */
.menuLink{
    text-decoration: none;
}

/* Place where buttons are customized and the corresponded hover's */
#buttonAbout{
    color: rgb(255, 238, 0);
    font-family: "pixelFont";
    text-shadow: 0px -4px rgb(182, 189, 48), 0px -8px rgb(82, 78, 41);
    text-decoration: none;
    font-size: 65px;
    transition: all ease 0.5s;
}
#buttonAbout:hover{
    color: rgb(228, 63, 63);
    text-shadow: 0px 4px rgb(212, 169, 101), 0px 8px rgb(226, 205, 17);
}

#buttonCharacters{
    color: rgb(255, 238, 0);
    font-family: "pixelFont";
    text-shadow: 0px -4px rgb(182, 189, 48), 0px -8px rgb(82, 78, 41);
    text-decoration: none;
    font-size: 65px;
    transition: all ease 0.5s;
}

#buttonCharacters:hover{
    color: rgb(228, 63, 63);
    text-shadow: 0px 4px rgb(212, 169, 101), 0px 8px rgb(226, 205, 17);
}

#buttonConcepts{
    color: rgb(255, 238, 0);
    font-family: "pixelFont";
    text-shadow: 0px -4px rgb(182, 189, 48), 0px -8px rgb(82, 78, 41);
    text-decoration: none;
    font-size: 65px;
    transition: all ease 0.5s;
}

#buttonConcepts:hover{
    color: rgb(228, 63, 63);
    text-shadow: 0px 4px rgb(212, 169, 101), 0px 8px rgb(226, 205, 17);
}