.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 50px 1fr 50px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "tl top tr"
    "left mainarea right"
    "bl bottom br";
}
​
.mainarea { grid-area: mainarea; }
.top { grid-area: top; }
.bottom { grid-area: bottom; }
.right { grid-area: right; }
.left { grid-area: left; }
​
.tl { grid-area: tl; }
.tr { grid-area: tr; }
.bl { grid-area: bl; }
.br { grid-area: br; }
​
html, body , .container {
  height: 100%;
  margin: 0;
}
​
/* For presentation only, no need to copy the code below */
​
.container * {
  border: 1px solid red;
  position: relative;
}
​
.container *:after {
  content:attr(class);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}
.top {
  background-color: red;
}
​
.mainarea {
  background-color: green;
}